<div class="dcf-hero-group-1">
  <div class="dcf-breadcrumbs-wrapper">
    <nav class="dcf-breadcrumbs" id="dcf-breadcrumbs" role="navigation" aria-label="breadcrumbs">
      {{!-- TemplateBeginEditable name="breadcrumbs" --}}
      <ol>
        <li><a href="https://www.unl.edu/">Nebraska</a></li>
        <li><LinkTo @route="home">Exact</LinkTo></li>
        {{#each links as |link|}}
          <li><LinkTo @route={{link.route}}>{{link.text}}</LinkTo></li>
        {{/each}}
        <li><span aria-current="page">{{pageTitle}}</span></li>
      </ol>
      {{!-- TemplateEndEditable --}}
    </nav>
  </div>
  <header class="dcf-page-title" id="dcf-page-title">
    {{!-- TemplateBeginEditable name="pagetitle" --}}
    <h1>{{pageTitle}}</h1>
    {{!-- TemplateEndEditable --}}
  </header>
  {{!-- TemplateBeginEditable name="herogroup1" --}}
  {{!-- TemplateEndEditable --}}
</div>
