<UnlTemplateHeader />

<main class="dcf-main" id="dcf-main" role="main" tabindex="-1">
  {{!-- TemplateBeginEditable name="hero" --}}
  <div class="dcf-hero dcf-hero-default">
    {{!-- TemplateEndEditable --}}
    <UnlPageTitle />
    {{!-- TemplateBeginEditable name="herogroup2" --}}
    <div class="dcf-hero-group-2">
    </div>
    {{!-- TemplateEndEditable --}}
  </div>

  <div class="dcf-main-content dcf-wrapper">
    <LinkTo @route="about">Ayyo</LinkTo>

    {{outlet}}
  </div>
</main>
