@import 'contents.scss';
@import 'equation-types.scss';
@import 'geometries.scss';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

// Re-bold menu
.dcf-nav-menu-child {
  ul {
    li {
      span {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

// Remove that annoying focus.
main {
  &:focus {
    outline: none;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.btn {
    background-color: #f8f8f8;
    border-radius: 5px;

    &:hover {
        filter: brightness(90%);
    }
}

.btn-small {
  font-size: 1rem;
  padding: .28rem .5rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-title {
  text-align: center;
}

a.upload-button {
  cursor: pointer;
}
