@import 'contents.scss';

// Re-bold menu
.dcf-nav-menu-child {
  ul {
    li {
      span {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

// Remove that annoying focus.
main {
  &:focus {
    outline: none;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.width-100 {
  width: 100%;
}
