@import "_colors.scss";

.tab-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    &.is-active {
      color: $unl-red;
      border-bottom: 1px solid $unl-red;
    }
  }
}

.equation-detail {
  iframe {
    width: 100%;
    height: 70vh;
  }
}

.equation-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: $unl-red;

  &:hover {
    filter: brightness(80%);
  }
}
