@import "_colors.scss";

.tab-set {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3rem;

  .tab {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    height: 2.4rem;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0.5rem;
    white-space: nowrap;

    &.is-active {
      border-bottom: 1px solid $unl-red;
      color: $unl-red;
    }

    &.top-tab {
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
}

.equation-detail {
  iframe {
    height: 70vh;
    width: 100%;
  }
}

.equation-link {
  color: $unl-red;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;

  &:hover {
    filter: brightness(80%);
  }

  &:visited {
    color: $unl-red;
  }
}

.equation-spacer {
  height: 0.1rem;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0.8rem;
  width: 8rem;
}

.equation-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  button {
    margin-right: 2rem;
  }
}

.equation-detail {

  .define-new {
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 3rem;
    color: $unl-red;

    &:hover {
      border-bottom: 1px solid $unl-red;
      filter: brightness(80%);
    }
  }

  .equation-display {

    .equation-title {
      max-width: 55rem;
      margin-bottom: 1.5rem;
    }

    .equation-author {
      max-width: 55rem;
      margin-bottom: 0.75rem;
    }
  }
}

.form-error {
  color: $unl-red !important;
}

.input-error {
  border: 1px solid red !important;
}

.site-logo {
  margin-left: 20px;
}

.history-row {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;

  .history-date {
    width: 20%;
  }

  .history-equation {
    width: 80%;
  }
}
