@import "_colors.scss";

.equation-type-detail {
    margin-bottom: 1rem;
    max-width: 30rem;

    .equation-type-display {

      .equation-type-link {

        a {
          color: $unl-red;
          font-size: 1.2rem;
          text-decoration: none;

          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }

}
