.geometry-detail {
  margin-bottom: 1rem;
  max-width: 30rem;

  .geometry-display {

    .geometry-info {

      p {
        font-size: 1.4rem;
        margin: 0;
      }

      .image-container {
        height: 100px;
        width: 100px;

        img {
          object-fit: contain;
        }
      }
    }
  }
}
