@import "_colors.scss";

.search {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    margin-right: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 30rem;
    z-index: 1000;

    // Since it's a flex column, align items / justify content are swapped.
    // We don't want to justify-content since that'll vertically align the items.
    // Instead we center it using a rem margin, that way the results div is
    // appropriately positioned.
    .search-input {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: auto;
      position: relative;
      width: 100%;
      z-index: 1000;

      input {
        border: 1px solid #dddddd;
        border-radius: 5px;
        display: flex;
        min-height: 100%;
        padding: 5px;
        width: 90%;
      }

      .search-results {
        display: flex;
        flex-direction: column;
        width: 90%;
        z-index: 1000;

        .search-result {
          background-color: rgb(252, 252, 252);
          border-bottom: 1px solid rgb(210, 210, 210);
          padding: 0.2rem 0.1rem;
          width: 100%;
          z-index: 1000;

          a {
            color: $unl-red;
            padding: 0px 10px;
            text-decoration: none;

            @media (max-width: 500px) {
              height: 2.8rem;
            }

          }
        }
      }
    }
  }
