<p>The EXACT project was established with funding from the National Science Foundation.</p>

<h5>Motivation And Purpose</h5>
<p>
  This project is concerned with repackaging exact analytical solutions,
  by adding information and tools, to make them better suited for engineering applications,
  and to make these widely available. Analytical solutions will never go out of style,
  because of the ongoing need:  for verification of fully-numeric solutions; for precise
  solutions to support experimental measurement of thermal/diffusive properties (and heat flux);
  and, for rapidly-computed solutions in real-time process-control applications.
</p>

<h5>Information Added</h5>
<p>
  The information added to each analytical solution in the Exact
  database may include: mathematical statement of the problem; pictorial diagram of the
  geometry; code for efficient computation of eigenvalues; algorithms and computer
  programs for accurate numerical evaluation; tables and plots of numeric values;
  and, intrinsic verification to demonstrate that the algorithm is correct and the
  values are accurate and precise.
</p>

<h5>Intrinsic Verification</h5>
<p>
  Intrinsic verification is the concept that an analytical
  solution contains within itself the means for checking that numerical results from
  the solution are correct and precise. There are several methods of intrinsic
  verification, including:  use of two independent representations of a solution;
  time partitioning; additive components; penetration time; and, deviation time.
</p>

<h5>Numbering System</h5>
<p>
  A numbering system for heat conduction is used to identify
  each solution in the Exact database to make them easy to identify, store, and
  retrieve. The number system is transformative, because it provides a new way of
  viewing the entire body of solutions in heat conduction and diffusion.
</p>
