<p>
  Co-investigators for the funded portion of the project are
  <br><br>
  <a target="new" href="http://www.engineering.unl.edu/academicunits/mechanical-materials/faculty-staff/KevinCole.shtml">Kevin Cole</a> (University of Nebraska).
  <br>
  <a target="new" href="http://www.eng.ua.edu/people/kwoodbury">Keith Woodbury</a> (University of Alabama).
  <br><br>
  <b>Consultants</b>
  <br>
  D. E. Amos, retired, Sandia National Laboratories.<br>
  J.V. Beck, retired, Michigan State University.<br>
  P. E. Crittenden, Jacksonville University, Department of Mathematics.<br>
  <a target="new" href="http://www.ing.univaq.it/personale/scheda_personale.php?codice=140">F. De Monte</a>, University of L'Aquila, L'Aquila, Italy<br>
  A. Haji-Sheikh, U. Texas Arlington, Dept. Mechanical Engineering<br>
  G. Guimaraes, Federal University of Uberlândia, School of Mechanical Engineering, Uberlândia,
  Brazil<br>
  <a target="new" href="http://www.vmi.edu/mc">R. McMasters</a>, Virginia Military Institute, Dept. of Mechanical Engineering,<br>
  N. Roberty, Universidade Federal do Rio de Janeiro, Rio de Janeiro, Brazil.
</p>
