<p>
  Welcome to the Exact Analytical Conduction Toolbox, or EXACT. Here exact solutions for conduction/diffusion are available, along with supporting information and tools to make them better suited for engineering applications. EXACT should be useful to engineers and scientists engaged in code verification, inverse problems, indirect measurements, and anyone with a need for precise numerical values obtained from verified algorithms in heat conduction/diffusion. This project is funded by the National Science Foundation.
  <br /><br />
  The solutions included in the EXACT project are organized by equation type, by geometry, and by boundary conditions, and are cataloged by a numbering system.
</p>
<ul>
  <li>
    <a href="http://exact.unl.edu/exact/contents/contents.php">Contents</a>
    of the EXACT site: Analytical solutions for heat conduction and diffusion.
  </li>
  <li>
    <a href="http://exact.unl.edu/exact/home/organization.php">Organization</a>
    of the EXACT Library and a tutorial of the
    <a href="http://exact.unl.edu/exact/home/number.php">Numbering System</a>
    used here.
  </li>
  <li>
    <a href="http://exact.unl.edu/exact/about/about.php">About</a>
    the EXACT project.
  </li>
</ul>
<strong>Related Links</strong>
<ul>
  <li>A subset of the solutions from EXACT are available as computer subroutines at the Matlab File Exchange:  <a href="https://www.mathworks.com/matlabcentral/fileexchange/66112-exact-analytical-conduction-toolbox-exact" target="_blank">https://www.mathworks.com/matlabcentral/fileexchange/66112-exact-analytical-conduction-toolbox-exact</a></li>
  <li>Green’s functions have been used to develop many of the solutions available on EXACT; refer to the Green’s function library, <a href="http://www.greensfunction.unl.edu" target="_blank">http://www.greensfunction.unl.edu</a></li>
  <li>Number-system index of temperature solutions from three books:  Carslaw and Jaeger (1959); Luikov (1968); and Cole, Beck, Haji-Shiekh, Likouhi (2011). <a href="http://www.greensfunction.unl.edu/home/Number_index_Carslaw_Cole_Luikov2017v3.pdf" target="_blank">http://www.greensfunction.unl.edu/home/Number_index_Carslaw_Cole_Luikov2017v3.pdf</a></li>
</ul>
<p>Literature on the EXACT project includes:</p>
<ul>
  <li>Cole, K. D, Beck, J. V., Woodbury, K. A. de Monte, F., Intrinsic verification and a heat conduction database, Int. J. Thermal Sciences, vol. 78, pp. 36 – 47, 2014. <a href="https://www.sciencedirect.com/science/article/pii/S1290072913002706" target="_blank">https://www.sciencedirect.com/science/article/pii/S1290072913002706</a></li>
  <li>K. D. Cole, K. A. Woodbury, F. de Monte, R. L. McMasters, J. Yeom, J. V. Beck, Applications in Education for a Heat Conduction Database, International Mechanical Engineering Congress, Houston TX, Nov. 2015. <a href="http://proceedings.asmedigitalcollection.asme.org/proceeding.aspx?articleid=2500759" target="_blank">http://proceedings.asmedigitalcollection.asme.org/proceeding.aspx?articleid=2500759</a></li>
</ul>
