<h6>The ExACT Analytical Conduction Toolbox is organized according to:</h6>
<ol>
  <li>Differential Equation Type (Heat, Laplace, Helmoltz)</li>
  <li>Coordinate System Type (rectangular, spherical, cylindrical)</li>
  <li>Body Shape</li>
  <li>Type of Boundary Condition</li>
</ol>
<h6>Body Shape</h6>
<p>Within each coordinate system the body shape is determined by the location of the boundaries, with each boundary defined by a constant value of one coordinate; these are called orthogonal bodies. Several body shapes are listed below for each coordinate system:</p>
<ol>
  <li>Rectangular: infinite body, semi-infinite body, infinite strip, semi-infinite strip, plate, rectangle, parallelpiped.</li>
  <li>Cylindrical: solid cylinder, hollow cylinder, finite cylinder, infinite region surrounding a circular hole, thin ring, wedge.</li>
  <li>Spherical (polar): infinite body, sphere, hollow sphere, infinite region surrounding a spherical void, spherical sector.</li>
</ol>
